<ion-view view-title="Ana sayfa">
  <ion-content>
      <button class="button button-large button-positive icon-right  button-block button-round ion-clipboard" ng-click="goPage('app.lists')">Is Emirleri</button>
	  <button class="button button-large button-positive icon-right  button-block button-round ion-document" ng-click="alert('Not implemented yet!')">Talep Girisi</button>
	  <button class="button button-large button-positive icon-right  button-block button-round icon ion-email" ng-click="alert('Not implemented yet!')">Mesajlar</button>
	  <button class="button button-large button-positive icon-right  button-block button-round ion-settings" ng-click="alert('Not implemented yet!')">Ayarlar</button>
	  <button class="button button-large button-positive icon-right  button-block button-round ion-log-in" ng-click="login()">Giris</button>
  </ion-content>
</ion-view>
