<ion-view class="flexPage" view-title="Erdemir Terminal Uygulaması Ana Ekranı">
	<ion-content >
 		<div class = "row">
 			<div class="col mygrid">
 				<button class="button button-large button-balanced icon-right  button-full  button-round ion-clipboard" ng-click="goPage('app.tasks')">
 					<span class="badge badge-assertive header-badge">4</span>İş Emirleri
 				</button>
 			</div>
 			<div class="col mygrid">
	  			<button class="button button-large button-calm icon-right  button-full   button-round icon ion-email" ng-click="goPage('app.messages')">
	  				<span class="badge badge-assertive header-badge">9</span>Mesajlar
	  			</button>
	  		</div>
	  	</div>
	  	<div class = "row">
	  		<div class="col mygrid">
 				<button class="button button-large button-energized icon-right  button-full  button-round ion-document" ng-click="alert('Not implemented yet!')">Yeni İş Emri</button>
 			</div>
	  		<div class="col mygrid">
	  			<button class="button button-large button-assertive icon-right button-full  button-round ion-log-out" ng-click="goPage('app.login')">Çıkış</button>
	  		</div>
		 	<!--  <button class="button button-large button-positive icon-right  button-block button-round ion-log-in" ng-click="login()">Giris</button>-->
	   	</div>
  </ion-content>
</ion-view>
