<ion-view view-title="Erdemir Terminal Uygulaması"> <ion-content>
<div class="row ">
	<div class="col mygrid">
		<div class="card button-round">
			<div class="middle-center">
				<div class="row ">
					<div class="col myLoginCol">
						<h1 text-center class="myTitle">Erdemir NOS'a Hoşgeldiniz</h1>
					</div>
				</div>
				<div class="row ">
					<div class="col myLoginCol">
						<input type="text" placeholder="Lütfen Sicil Numaranızı Giriniz.">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col mygrid">
		<button
			class="button button-large button-balanced icon-right button-full  button-round ion-log-in"
			ng-click="goPage('app.home')">Giriş</button>
	</div>
</div>
</ion-content> </ion-view>
