<ion-view view-title="Mesaj Ayrıntıları"
	class="messagePage messaging-view">
<div class="subject card">
	<h1 class="title">Kimden : Karayolu Daire Başkanlığı</h1>
	<h1 class="title">Konu : Sevkiyat Hk.</h1>
</div>
<ion-content class="content-stable" on-swipe-left="hideTime = false"
	on-swipe-right="hideTime = true">



<div ng-repeat="message in messages"
	ng-class="{other: message.userId != myId}" class="messages">

	<div class="message"
		ng-class="{'slide-right': hideTime, '': !hideTime}">
		<span>{{ message.text }}</span>
	</div>

	<div class="time" ng-class="{'slide-right': hideTime, '': !hideTime}">{{message.time}}</div>


</div>

</ion-content> <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
	<div class="row">
	<div class="col col-20 mygrid">
		<button
			class="button button-large icon-center  button-assertive  button-full  button-round ion-arrow-left-a"
			ng-click="goPage('app.home')" />
	</div>
	<div class="col  col-20 mygrid">
			<button
			class="button button-large icon-center button-energized button-full  button-round ion-home"
			ng-click="goPage('app.home')" />
	</div>
	<div class="col col-50 mygrid">
		<label class="item-input-wrapper"> <input type="text"
			placeholder="Type your message"
			on-return="sendMessage(); closeKeyboard()" ng-model="data.message"
			on-focus="inputUp()" on-blur="inputDown()" />
		</label>
	</div>
	<div class="col col-10 mygrid">
	<button class="button button-clear" ng-click="sendMessage()">
		Send</button>
	</div>
	</div>
</ion-footer-bar> </ion-view>
